@import "tailwindcss";
@plugin "@tailwindcss/forms";
@source not "../../public";

input[type=text], input[type=password], input[type=date], input[type=datetime-local], textarea, select {
    border-radius: 6px;
    border-width: 1px;
    border-color: oklch(87.2% 0.01 258.338);
    font-size: 14px;
    line-height: calc(1.25 / 0.875);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    height: 40px;
}
