<html>
    <body>
    {% for person in people %}
        <ul>
            <li>Your name is: {{ person['name'] }}</li>
            <li>Your profession is: {{ person['profession'] }}</li>
            <li>Your age is: {{ person['age'] }}</li>
        </ul>
    {% endfor %}
    </body>
</html>
